.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

input, textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

.name-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset;
  padding: 20px;
}

form :nth-last-child(2) {
  margin-top: 10px;
}

button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 1.2rem;
  cursor: pointer;
  width: 200px;
  margin-top: 10px;
}

table {
  margin-top: 20px;
}